# Python
__pycache__/
*.py[cod]
*.so
env/
venv/
.env

# Data
data/raw/*
data/processed/*
data/features/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep

# Notebooks
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# Models
*.pkl
*.h5